* {
    background-color: rgba(246, 193, 114, 0.917);
}

.list-element {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1cap;
    padding: 10px 10px 10px 10px;
}

.spaced {
    line-height: 3cap;
}

.desc {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05cap;
    line-height: 2.5cap;
}

.fancy {
    opacity: 0.95;
    border-radius: 15px;
    border: 0.4cap solid black;
    margin: 15px 100px;
}

.subsection {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1cap;
    font-weight: bolder;
    text-decoration: green wavy overline;
    border-top: 5px dashed rgba(149, 180, 189, 0.917);
}

h2.subsection {
    font-size: 1.5em;
}

h4.subsection {
    font-size: 1.1em;
}

.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05cap;
    text-align: center;
    border-left: 10px double black;
    border-right: 10px double black;
    border-bottom: 10px double black;
    border-radius: 150px;
    box-shadow: inset 10px 10px 10px 100px rgba(46, 176, 220,0.7); /* Simulates a colored border */
}

.hp {
    text-align: center;
    font-size: 5rem;
    line-height: 10rem;
}

h4.hp {
    font-size: 30px;
}

.index-img {
    display: block;
    margin: 0 auto;
    border: 10px double black;
    border-radius: 20px;
}
